.container {
    max-width:800px;
    margin:0 auto;
    padding:0 100px;
}
input {
    width: 50px;
}

.opac {
    color: transparent;
}
button {
    width:100px;
}
select {
    height:21px;
}
h1 {
    text-transform:  uppercase;
}